/* Link colours etc... */
a {text-decoration: none;}
a:link {color: #993333;}
a:visited {color: #996666;}
a:active {color: #000000;}
a:hover {
  background: #bb8888;
  color: #eeeeee;
}

body {
  font-family: 'Trebuchet MS', 'Open Sans', Arial, Helvetica, sans-serif;
  background: #dddddd;
  font-size: 10pt;
  color: #333333;
  margin: 0 2em 2em 14em;
}

p {
  margin-left: 1.25em;
  margin-right: 1.25em;
}

img {
  border: 0.5em;
  padding: 1.1em;
  background: #eeeeee;
}

h1 {
  font-family: 'Trebuchet MS', 'Open Sans', Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #333333;
  line-height: 1.75em;
  padding-left: 1em;
  letter-spacing: 0.1em;
  background: #bbbbbb;
}

h1.home {
  text-align: center;
  padding-left: 0;
}

h2 {
  font-family:  'Trebuchet MS', 'Bitstream Vera Sans', Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #333333;
  line-height: 1.5em;
  padding-left: 2em;
  background: #cccccc;
}

h3 {
  font-family:  'Trebuchet MS', 'Bitstream Vera Sans', Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #333333;
  line-height: 1.5em;
  padding-left: 4em;
  font-style: italic;
  background: #cccccc;
}

li {
  font-family: 'Trebuchet MS', 'Bitstream Vera Sans', Arial, Helvetica, sans-serif;
  margin-left: 2em;
}

abbr, acronym {cursor: help;}

.address {
  font-size: 8pt;
}

.aligncentre {
  text-align: center;
}

.box {
  border: none;
  border-width: thin;
  width: 80%;
  margin: auto;
}
.copyright {
   font-size: 0.8em;
   font-style: italic;
  font-family: Georgia, serif;
}

body>.map { position: fixed }

.map {
  position: absolute;
  width: 12.5em; height: auto;
  top: 1em; right: 0; bottom: 0; left: 0;
}

.map p {
  display: block;
  margin: 0.2em 0em 0em 0.75em;
  text-indent: 0;
  text-align: left;
  color: #666666;
  list-style: none }

.map a {color: #333333;}
.map a:hover {
  background: #666666;
  color: #eeeeee;
}

.map p.current {
  background-color: #aaaaaa;
  color: white;
}
