@import url("http://fonts.googleapis.com/css?family=Open+Sans");
/* Link colours etc... */
a {text-decoration: none;}
a:link {color: #993333;}
a:visited {color: #996666;}
a:active {color: #000000;}
a:hover {
  background: #bb8888;
  color: #eeeeee;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: #dddddd;
}

img {
  padding: 0.4em;
//  background: #eeeeee;
}

body, h1, h2, h3 {
  color: #333333;
}

h1.home {
  text-align: center;
}

h2, h3 {
  line-height: 1.5em;
}

.caption {
  text-align: center;
}

.copyright {
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
  font-style: italic;
  font-family: serif;
}
